<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599922253393-db7kpjiec750ttq9j8fqu8cdqfc7i2a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599922253393-db7kpjiec750ttq9j8fqu8cdqfc7i2a4</string>
	<key>API_KEY</key>
	<string>AIzaSyBFPnA11zvSqz4XGb6gvR8vHX_ZktE2uis</string>
	<key>GCM_SENDER_ID</key>
	<string>599922253393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starsgrp</string>
	<key>PROJECT_ID</key>
	<string>stargrp-4c167</string>
	<key>STORAGE_BUCKET</key>
	<string>stargrp-4c167.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599922253393:ios:6937337983ef9819a66270</string>
</dict>
</plist>